* {
    text-align: center;
    font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
}

body {
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;    
}

li {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    border: 2px solid black;
}

.ingredient-list,
.steps-list,
.description {
    background: rgb(255, 160, 122, 50%);
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 50px;
}

.steps-list{
    padding-left: 2.5rem;
    list-style-type: decimal;
}

.ingredient-list li,
.steps-list li{
    text-align: justify;
    margin: 1.5rem;   
    font-size: 1.2rem; 
}

.ingredient-list li{
    list-style-type: circle;   
}

h2 {
    border: 2px dotted black;
    border-radius: 8px;
    padding: 1.5rem;
}

.description {
    background: rgb(152, 251, 152, 30%);
}